@import url("https://fonts.googleapis.com/css?family=Arima:100,200,300,regular,500,600,700");
* {
  box-sizing: border-box;
  font-family: "Arima";
}
body {
  margin: 0;
  padding: 0;
  background-color: #7575f8 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
h1 {
  text-transform: capitalize;
  font-size: 3.5rem !important;
}
.item {
  height: 300px;
  position: relative;
}
.p1 {
  background-image: url("https://i.ebayimg.com/images/g/D00AAOSwK1xfrCzb/s-l1600.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: contain;
}
.p2 {
  background-image: url("https://m.media-amazon.com/images/I/81OphLK6GKL.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.p3 {
  background-image: url("https://jnpprinting.co.uk/cdn/shop/products/WalkingDead_2048x.jpg?v=1642791111");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.p4 {
  background-image: url("https://m.media-amazon.com/images/I/71nTji5ucWL.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 2rem !important;
  }
}
